.login{
    border: 1px solid black;
    width: 100%;
    height: 500px;
    background: url(Screenshot\ 2024-01-26\ 222023.jpg);
    color: white;
    border-radius:20px ;
    box-shadow: 0px 0px 20px rgba(0,0,0,0,75);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
form{
    display: block;
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    height:100%;
    backdrop-filter: brightness(40%);
    /* this is used to add effects to background image */
    display: flex;
    flex-direction: column;
}
h1{
    font-weight: normal;
    font-size: 24px;
    text-shadow: 0px 0px 2px rgba(0,0,0,  0.5);
    margin-bottom: 60px;
}
label{
    color: rgba(255,255,255,0.8);
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    padding-left: 10px;
}
input{
    background: rgba(255,255,255,0.3);
    color: white;
    height: 40px;
    /* line-height:40px; */
    border-radius: 20px;
    padding:0px 20px;
    border: none;
    margin-bottom: 20px;
}
button{
    background: rgb(45,128,231);
    height: 40px;
    /* line-height: 40px; */
    border-radius: 40px;
    border: none;
    margin: 10px 0px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
}









